body {
    background-color: black;
  }
  
  .marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .bt_marca {
    flex-basis: calc(20% - 20px);
    margin: 20px;
    margin-top: auto;
    text-align: center;
    background-color: white;
    border-radius: 40px;
    font-size: 18px;
    padding: 50px;
    color: black;
    height: 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  }
  
  .bt_marca:hover {
    color: antiquewhite;
    background-color: black;
  }
  
  .addMarca {
    flex-basis: calc(20% - 20px);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    border-radius: 80px;
    background-color: white;
    padding: 30px;
    height: 20px;
    position: fixed;
    bottom: 4%;
    right: 2%;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .addMarca:hover {
    background-color: black;
  }
  
  @media screen and (max-width: 768px) {
    .bt_marca {
      flex-basis: calc(40% - 20px);
    }
  }
  
  /* Estilo para o modo de autocontraste */
  
  