.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
}

.client-list {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.client-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.client-info {
    flex-grow: 1;
}

.client-nome {
    font-weight: bold;
}

.client-actions {
    display: flex;
    gap: 10px;
}

.btn-delete,
.btn-edit {
    padding: 5px 10px;
    border: none;
    background-color: #f44336;
    color: white;
    border-radius: 3px;
}

.btn-edit {
    background-color: #2196f3
}

.linkbt {
    margin-left: 90%;
    background-color:#1DB4F2;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    color: antiquewhite;
    font-size: 25px;
} 