
* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .containerC1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(238, 238, 238, 0.5);
}
  
  .cadastro1 {
    margin-top: 10%;
    background-color: #e7e5e5;
    padding: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.form-group1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group1 label {
    margin-bottom: 5px;
  }
  .form-group2 {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 90%;
    background-color: rgba(245, 233, 23, 0.5);
    
  }
  
  .infoPr th, tr{
    background-color: rgba(245, 233, 23, 0.5);
    padding: 0 50px;
    text-align: center;
  }
  .tabelaprod{
    margin-bottom: 20px;
  }
  .form-group2 input{
    padding: 50px;
  }
  .form-group1 select {
    border-radius: 50px;
    padding: 10px;
    width: 70%;
    background-color: rgba(245, 233, 23, 0.5);
  }


  .form-group1 select option{
    background-color: rgb(245, 233, 23, 0.2);
}
  
  
  .cadastro1 input {
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 90%;
    background-color: rgba(245, 233, 23, 0.5);
    border-color: none;
  }
  
  .button-container1 {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  .button-container1 button {
    border-radius: 20px;
    padding: 10px 20px;
    background: #1DB4F2;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button-container1 :hover {
    background: #1793c4;
  }
  
 .cadastro1 h2 {
    text-align: center;
    color:rgb(74, 71, 71) ;
  }


