.containerR {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.PRelatorio {
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

.button-container{
  margin-top: 5%;
}

.pRelatorio {
  background-color: #1799f5;
  text-align: center;
  margin-top: 1%;
  padding: 25px;
  width: 120%;
}

.Bt_relatorio {
  margin-bottom: 10px;
  text-align: center;
}

.Bt_relatorio button {
  background-color: #1799f5cc;
  color: white;
  border: none;
  padding: 50px 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.Bt_relatorio button:hover {
  background-color: #1799f5;
}

.Relatorios {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media only screen and (max-width: 900px) {
  .Relatorios {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 1024px) {
  .containerR {
    padding: 20px;
  }
}

@media only screen and (max-width: 1440px) {
  .pRelatorio {
    
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 40px;
  }
}
