 * {
  font-family: Arial, Helvetica, sans-serif;
}

.containerC {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(238, 238, 238, 0.5);
}

.cadastro1 {
  margin-top: 15%;
  background-color: #e7e5e5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.form-group1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group1 label {
  margin-bottom: 5px;
}

.cadastro1 input {
  
  border-radius: 15px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 7px;
  width: 90%;
  background-color: rgba(245, 233, 23, 0.502);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-container1 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.button-container1 button {
  border-radius: 20px;
  padding: 10px 20px;
  background: #1DB4F2;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-container1 :hover {
  background: #1793c4;
}

h2 {
  text-align: center;
  color: white;
}