
.container {
    display: flex;
    flex-direction: row;

  }

  .grafico {

    background-color: rgb(255, 255, 255);
  }

  .texto{

    padding: 0 20px;
  }

  .botao-voltar {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }