.result-list{
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    padding: auto;;
}

/* .result-list button{
    text-align: center;
    
    
} */
.resultados {
    text-align: center;
}

.bt_resultCli {
    border-radius:  20px;
    width: 800px;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    background-color: lightgray;
    padding: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    
   
  }
  
.bt_resultCli:hover{
    background-color: darkgray;
    color: white;
}