
.info-cli {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.8);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


  /* .info-cli p {
    margin-left: 2% ;
  } */
  .info-cli h3 {
    margin-left: 2% ;
    margin-right: 10%;
  }

  .info-cli button {
    margin-top: 1px;
    display: flex;
    flex-direction:column;
    border-radius: 30px; 
    background-color:#1DB4F2 ;
    color: white;
    
}

  .clientes{
   padding-top:  10%;
   
  }

  

  h1{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
  }
  .bt_cli button{
    padding: 5px;
    margin: 5%;
    text-decoration: none;
  }

  .bt_cli{
    margin-left:  20%;
  }
  
  