* {
  font-family: Arial, Helvetica, sans-serif;
  
}
.container3 {
  background: linear-gradient(rgba(245, 233, 23, 0.5) ,rgb(255, 255, 255,0.5), rgb(29, 180, 242, 0.5));
  margin: 0;
  padding: 0;
}
.container3 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.cadastroI {
  background-color: rgb(255, 255, 255,0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 50%;
  margin-top: 20px;
  margin-right: 50px;
}

@media (max-width: 1400px) {
  .container {
    flex-direction: column;
    align-items: center;
    
  }

  .cadastroI  {
    margin-top: -500px;
    width: 80%;
  }

  .Logo {
    margin-top: -280px;
    height: auto;
    width: 700px;
    margin-bottom: 150px;
    
  }
}

.form-groupI {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  
}

.form-groupI label {
  margin-bottom: 5px;
  color: #1397ca;
}

.cadastroI input {
  border-radius: 15px;
  padding: 10px;
  margin-top: 5px;
  width: 95%;
  background-color: rgba(245, 233, 23, 0.7);
  border: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-container button {
  border-radius: 20px;
  padding: 10px 20px;
  background: #1db4f2;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 4px;
}

.button-container button:hover {
  background: #1793c4;
}

h2 {
  text-align: center;
  color: #1db4f2;
}

img {
  margin: 1%;
  height: 700px;
  width: 100%;
}

